.container{
margin: auto;
width: 50%;
padding: 50px 70px;
align-content: center;
margin-top: 40px;
background-color: hsl(240, 78%, 98%);
   background-image: url("IMAGES/images/bg-bottom.svg"),
                     url("IMAGES/images/bg-top.svg");
                     background-position: left bottom, top right;
                     background-repeat: no-repeat, no-repeat;
                     background-size: 200px 160px, 200px 350px;
                     padding:25px;
   
}
.toggle{
    display:flex;
    justify-content: center;
}
h6{
  color :hsl(234, 57%, 71%);
 
}
#anu{
   align-content: center;
}
small{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.price{
    display: flex;   
    align-self: center; 
    color: hsl(233, 13%, 49%);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40%;
    margin-bottom: 4%;
}
.mainContainer{
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}
#containerOne{
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: hsl(232, 13%, 33%);
}
#containerTwo{
    background-color: hsl(234, 57%, 71%);
    padding: 5%;
    border-radius: 10px;
    color: white;
}
#butn{
    background-color: white;
}
#containerThree{
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: hsl(232, 13%, 33%);
}
button{
    background-color: hsl(234, 57%, 71%);
    border: none;
    border-radius: 5px;
    font-size: 9px;
    padding: 5px 40px 5px 40px;
    
}